[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
bs4 = "*"
rich = "*"
requests = "*"
cloudscraper = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
