[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlmodel = "*"
pydantic = "*"
fastapi = {extras = ["standard"] }
tldextract = "*"
bs4 = "*"
selenium = "*"
webdriver-manager = "*"
psycopg2 = "*"
sqlalchemy-utils = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
